<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyUI/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/javascripts/default.js"></script>
</head>

<body>
    <table id="dg" title="用户管理" style="width:100%;height:600px" data-options="rownumbers:true,remoteSort:false,multiSort:true,singleSelect:true,pagination:true,url:'/users/list',method:'get',toolbar:'#tb'">
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field:'userId',align:'center'">ID</th>
                <th data-options="field:'userName',align:'center',sortable:true,editor:'text',width:100">用户名</th>
                <th data-options="field:'userAvatar',align:'center',width:100" formatter="imageFormatter">头像</th>
                <th data-options="field:'userPhone',align:'center',sortable:true,width:90,editor:'text'">电话</th>
                <th data-options="field:'userGender',align:'center',sortable:true,width:50,editor:{type:'combobox',options:{valueField: 'value',textField: 'label', data: [{label: '保密',value: 0},{label: '男',value: 1},{label: '女',value: 2}]}}" formatter="genderFormatter">性别</th>
                <th data-options="field:'createTime',align:'center',sortable:true,width:130" formatter="detetimeFormatter">创建时间</th>
                <th data-options="field:'updateTime',align:'center',sortable:true,width:130" formatter="detetimeFormatter">修改时间</th>
            </tr>
        </thead>
    </table>
    <div id="tb">
        <p><a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="confirmChanges()">保存修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="rejectChanges()">撤销修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="deleteUser()">删除</a>
        </p>
        <p>
            <input name="userName" placeholder="用户名">
            <input name="userPhone" placeholder="电话">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="doSearch()">搜索</a>
    </div>
    <div id="w" class="easyui-window" title="确认修改内容" data-options="modal:true,closed:true,iconCls:'icon-save',collapsible:false" style="width:400px;height:300px;">
        <table id="preview-dg" style="width:100%;height: 200px;">
            <thead>
                <tr>
                    <th data-options="field:'userName',align:'center',width:100">用户名</th>
                    <th data-options="field:'userAvatar',align:'center',width:100" formatter="imageFormatter">头像</th>
                    <th data-options="field:'userPhone',align:'center',width:90">电话</th>
                    <th data-options="field:'userGender',align:'center',width:50" formatter="genderFormatter">性别</th>
                </tr>
            </thead>
        </table>
        <p> <a onclick="acceptChanges()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确认</a><a onclick="closeWindow()" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a></p>
    </div>
    <script type="text/javascript">
    var $dg = $('#dg');
    var $window = $("#w");

    function closeWindow() {
        $window.window('close');
    }

    function genderFormatter(val, row, index) {
        var gender = "保密";
        if (val == 1) {
            gender = "男"
        } else if (val == 2) {
            gender = "女"
        }
        return gender;
    }

    function detetimeFormatter(val, row, index) {
        return new Date(val).format("yyyy-MM-dd hh:mm:ss");
    }

    function imageFormatter(val, row, index) {
        return '<img src="' + val + '" alt="">';
    }

    function deleteUser() {
        $.messager.confirm('删除', '确定要删除？', function(r) {
            if (r) {
                var rows = $dg.datagrid('getSelections');
                var delete_times = rows.length;
                for (i in rows) {
                    $.ajax({
                        type: "post",
                        url: "/users/deleteUser",
                        data: { userId: rows[i].userId },
                        dataType: "json",
                        success: function(data) {
                            delete_times--;
                            if (delete_times === 0) {
                                $dg.datagrid('reload');
                            }
                        }
                    });
                }
            }
        });
    }


    function confirmChanges() {

        $dg.datagrid('endEdit', getCurrRowIndex());
        var rows = $dg.datagrid('getChanges');
        if (rows.length > 0) {
            var data = { rows: rows, total: rows.length };
            $("#preview-dg").datagrid();
            $("#preview-dg").datagrid("loadData", data);
            $window.window('open');
        } else {
            $.messager.alert('提示', '您还没做任何修改！', 'info');
        }
    }

    function getCurrRowIndex() {
        var tr = $("[name='ck']:checked").closest('tr.datagrid-row');
        return parseInt(tr.attr('datagrid-row-index'));
    }

    function acceptChanges() {
        $dg.datagrid('endEdit', getCurrRowIndex());
        var rows = $dg.datagrid('getChanges');
        console.log(rows);
        var update_times = rows.length;

        for (i in rows) {
            $.ajax({
                type: "post",
                url: "/users/updateUser",
                data: rows[i],
                dataTpye: "json",
                success: function(data) {
                    update_times--;
                    if (update_times === 0) {
                        $dg.datagrid('reload');
                        $window.window('close');
                    }
                }
            });
        }
    }

    var editIndex = undefined;

    function rejectChanges() {
        $dg.datagrid('rejectChanges');
        editIndex = undefined;
    }



    function doSearch() {
        $dg.datagrid('load', {
            userName: $('[name="userName"]').val(),
            userPhone: $('[name="userPhone"]').val()
        });
    }

    $(function() {
        var datagrid = $dg.datagrid({
            onLoadSuccess: function() {
                $('img').eq(1).load(function() { { $dg.datagrid('fixRowHeight'); }
                });
            }
        });
        datagrid.datagrid('enableCellEditing');
    });
    </script>
</body>

</html>